.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.cards {
    display: flex;
    flex-flow: row wrap;
}
.card {
    width: 18rem;
    text-align: center;
    margin: 20px;
}
